body {
    background-color: #202124;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 100vw;
    height: 100vh;
    font-family: 'ROBOTO';
}

header {
    text-align: right;
    margin: 5px;
    padding: 10px;
}

.navegacion {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contenido-header {
    padding: 0 5px;
}

header svg {
    width: 25px;
    height: 25px;
}

header a {
    text-decoration: none;
    color: white;

}

header a img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    margin: 30px;
}

.busqueda {
    display: block;
}

.iconos-busqueda {
    display: flex;
    background-color: #1a0e0e;
    align-items: center;
    border-radius: 50px;
    width: 500px;
    justify-content: center;
    height: 50px;
}

.iconos-busqueda:hover {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.66);
}

.iconos-busqueda form input {
    width: 400px;
    border: none;
    background-color: #1a0e0e;
    outline: none;
    color: white;
    font-size: 1em;
}

section svg {
    width: 25px;
    height: 25px;
}

.botones {
    margin: 10px;
}

.botones form input {
    margin: 10px;
    padding: 10px;
    background-color: gray;
    border: solid 1px #202124;
    border-radius: 10px;
}

.botones form input:hover {
    border: solid 1px white;
    cursor: pointer;
}

footer {
    text-align: center;
    background: black;
    color: white;
    display: block;
}

.lugar {
    text-align: left;
    padding: 10px;
    border-bottom: solid 1px white;
}

.informacion {
    display: flex;
    justify-content: space-between;
    padding: 10px
}

footer a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

@media (max-width: 720px) {

    .iconos-busqueda {
        width: 55vw;
    }

    .iconos-busqueda form input {
        width: 40vw;
    }

    .logo img {
        width: 40vw;
    }

    .informacion {
        flex-direction: column;
    }

    .estado {
        padding: 10px;
    }
}
